body,html{margin:0;padding:0}
body{font-family:"Segoe UI",Verdana,Helvetica,Sans-Serif;color:#fff;background-color:#0088db}
header,footer,nav,section{display:block}
fieldset{border:1px solid #ddd;padding:0 1.4em 1.4em 1.4em;margin:0 0 1.5em 0}
legend{font-size:1.2em;font-weight:bold}textarea{min-height:75px}
.editor-label{margin:1em 0 0 0}
.editor-field{margin:.5em 0 0 0}
.field-validation-error{color:red}
.field-validation-valid{display:none}
.input-validation-error{border:1px solid red;background-color:#fee}
.validation-summary-errors{font-weight:bold;color:red}
.validation-summary-valid{display:none}
.content-wrap{max-width:1024px;margin:0 auto}
.body-padding{padding-top:80px}
hr{border:1px solid #afafaf;border-bottom:none;border-left:none;border-right:none}
.header{background-color:#38003c;height:80px;position:fixed;width:100%}
.header a{text-decoration:none}
.logo{height:80px}
.logo-word{display:inline-block;color:#fff;font-family:Roboto;position:relative;top:-40px;left:-28px;font-size:2em;font-weight:300}
.logo-line{color:#fff;top:-14px;left:-250px;position:relative}
.refund-section{}.refund-section h1,.refund-section h2,.refund-section h3{font-weight:200}
